<div class="flex h-32 flex-col w-4/5 text-primary">
  <div
    class="h-full flex flex-col shadow border rounded border-gray-light bg-white p-1 m-1 justify-between"
  >
    <div class="flex flex-row justify-between">
      {{#link-to linkRoute summary class="no-link text-primary flex-grow flex justify-center items-center"}}
        <div class="text-center ml-10 text-xl flex justify-center items-center">
          {{summary.title}}
        </div>
      {{/link-to}}
      {{#basic-dropdown renderInPlace=true as |dd|}}
        {{#dd.trigger class="p-2"}}
          {{fa-icon "ellipsis-h"}}
        {{/dd.trigger}}

        {{#dd.content}}
          <p class="pt-3 p-1">Edit</p>
          <p class="pt-3 p-1">Delete</p>
        {{/dd.content}}
      {{/basic-dropdown}}
    </div>

    {{#if exercise}}
      <div class="flex flex-col self-end text-xs">
        <p>{{exercise.numberOfSets}} sets of {{exercise.reps}} reps</p>
        <p>{{exercise.rest}} seconds rest</p>
      </div>
    {{/if}}

    <div class="text-xs italic">
      Last activity: 21st June 2019
    </div>
  </div>
</div>
