<div class="flex h-32 flex-col w-4/5 text-primary">
  <div
    class="h-full flex flex-col shadow border rounded border-gray-light bg-white p-1 m-1 justify-between"
  >
    <div class="flex flex-row justify-between">
      {{!-- TODO: Readd this back in if summary is the right way to go. --}}
      {{!-- {{#link-to linkRoute summary class="no-link text-primary flex-grow flex justify-center items-center"}} --}}
        <div class="text-center ml-10 text-xl flex-grow flex justify-center items-center">
          {{exercise.title}}
        </div>
      {{!-- {{/link-to}} --}}
      {{tile-dropdown
        editRoute="routines.routine.workout.exercise.exercise-edit"
        editContent=exercise
        deleteRoute="routines.routine.workout.exercise.exercise-delete"
        deleteContent=exercise
      }}
    </div>

    {{#if exercise}}
      <div class="flex flex-col self-end text-xs">
        <p>{{exercise.numberOfSets}} sets of {{exercise.reps}} reps</p>
        <p>{{exercise.rest}} seconds rest</p>
      </div>
    {{/if}}

    {{!-- TODO: Add this back in later --}}
    {{!-- <div class="text-xs italic">
      Last activity: 21st June 2019
    </div> --}}
  </div>
</div>
