<div
  class="flex-auto h-full flex flex-col flex-grow items-center"
>
  {{title-section title="Routines"}}

  {{#if this.model}}
    <section
      class="flex-grow flex flex-col items-center h-full w-full content-around"
    >
      {{#each this.model as |routine|}}
        {{content-tile content=routine linkRoute="routines.routine" class="w-full flex flex-col items-center"}}
      {{/each}}
      {{#if placeholdersNeeded}}
        {{content-tile-add linkRoute="routines.routine-add" class="w-full flex flex-col items-center"}}
      {{/if}}
    </section>
  {{else}}
    {{content-tile-add linkRoute="routines.routine-add" class="w-full flex flex-col items-center"}}
  {{/if}}
</div>
