<div
  class="flex-auto h-full flex flex-col flex-grow items-center"
>
  {{title-section title=this.model.title}}

  {{#if this.model.exercises}}
    <section
      class="flex-grow flex flex-col items-center h-full w-full content-around"
    >
      {{#each this.model.exercises as |exercise|}}
        {{log exercise}}
        {{content-tile content=exercise linkRoute="exercises.exercise-summary" class="w-full flex flex-col items-center"}}
      {{/each}}
      {{#if placeholdersNeeded}}
        {{content-tile-add linkRoute="exercises.exercise-add" class="w-full flex flex-col items-center"}}
      {{/if}}
    </section>
  {{else}}
    {{content-tile-add linkRoute="exercises.exercise-add" class="w-full flex flex-col items-center"}}
  {{/if}}
</div>

{{footer-start-workout class="fixed h-16 w-full bottom"}}