<div
  class="flex-auto h-full flex flex-col flex-grow items-center"
>
  {{title-section title=this.model.title}}

  {{#if this.model.exercises}}
    <section
      class="flex-grow flex flex-col items-center h-full w-full content-around mb-20"
    >
      {{#each this.model.exercises as |exercise|}}
        {{exercise-tile summary=exercise.exerciseSummary exercise=exercise linkRoute="exercise-summaries.exercise-summary" class="w-full flex flex-col items-center"}}
      {{/each}}
      {{#if placeholdersNeeded}}
        {{content-tile-add linkRoute="routines.routine.workout.exercise.exercise-add" class="w-full flex flex-col items-center"}}
      {{/if}}
    </section>
  {{else}}
    {{content-tile-add linkRoute="routines.routine.workout.exercise.exercise-add" class="w-full flex flex-col items-center"}}
  {{/if}}
</div>

{{footer-button buttonNumber=1 buttonText=buttonText click=(action "startWorkout") class="fixed h-16 w-full bottom z-10"}}