
<div class="flex flex-row w-full h-8 z-10">
  {{footer-button buttonNumber=1 buttonText="Cancel" click=(action "cancel") class="w-1/2 flex-grow"}}
  {{footer-button buttonNumber=1 buttonText="Finish workout" click=(action "finishWorkout") class="w-1/2 flex-grow"}}
</div>

{{#swiper-container class="flex flex-auto w-full h-full"}}
  {{#each this.exercisesWithSets as |exercise|}}
    {{#swiper-slide}}
      <div class="w-full h-full">
        {{title-section title=exercise.title}}
        {{exercise.sets.0.reps}}
      </div>
    {{/swiper-slide}}
  {{/each}}
{{/swiper-container}}


<div class="flex flex-row w-full h-16 fixed bottom z-10">
  {{footer-button buttonNumber=1 buttonText="Previous" class="w-1/2 flex-grow"}}
  {{footer-button buttonNumber=1 buttonText="Next" class="w-1/2 flex-grow"}}
</div>
