
<div class="flex flex-row w-full h-8 z-10">
  {{footer-button buttonNumber=1 buttonText="Cancel" click=(action "cancel") class="w-1/2 flex-grow"}}
  {{footer-button buttonNumber=1 buttonText="Finish workout" click=(action "finishWorkout") class="w-1/2 flex-grow"}}
</div>

{{#swiper-container class="flex flex-auto w-full h-full" options=swiperOptions}}
  {{#each exerciseRecords as |record|}}
    {{#swiper-slide registerAs=workoutSwiper}}
      <div class="w-full h-full">
        {{title-section title=record.title class="mb-16 xs:mb-4 sm:mb-8"}}
        {{set-group sets=record.sets}}
      </div>
    {{/swiper-slide}}
  {{/each}}
  {{#if isShowingModal}}
    {{#modal-dialog onClose=(action (mut isShowingModal) false)}}
      {{countdown-timer restTime=restTime containerClassNames="shadow"}}
    {{/modal-dialog}}
  {{/if}}
{{/swiper-container}}

<div class="flex flex-row w-full h-16 mb-16 z-10">
  {{footer-button buttonNumber=1 buttonText="Rest" click=(action "rest") class="w-full flex-grow"}}
</div>
<div class="flex flex-row w-full h-16 fixed bottom z-10">
  {{footer-button buttonNumber=1 buttonText="Previous" class="w-1/2 flex-grow" swiperClass="swiper-previous"}}
  {{footer-button buttonNumber=1 buttonText="Next" class="w-1/2 flex-grow" swiperClass="swiper-next"}}
</div>